*{

  font-family: 'Source Sans Pro', sans-serif;
}


ol {
  list-style:none;   /* To remove the numbered bullets from the list */
}

ul{
color:grey;

}

section{
  padding:30px 30px 30px 30px; /* The amount of space between the content and the border*/
border: none;
margin:10px; /* The space between the border and the edge of the page*/
margin-left: 50px;
margin-right: 50px;
}

div .class email{
  color:grey;
}


p{
  color: grey;

}
/*#right{
padding:0px;
border: none;
margin:0 auto;
align:right;
width: 69%;
display:inline-block;
border: solid 1px black; /* REMOVE WHEN FINISHED*/

/*}*/

/*#left {
  padding:10px 10px 10px 10px;
  border: none;
    border: solid 1px black; /* REMOVE WHEN FINISHED*/
  /*margin:0 auto;
  width: 30%;
  display: inline-block;
  align: left;
  vertical-align: top;
  background-color: grey;
  color:white;
  border: solid 1px black;

}*/

/*.nav ul{
list-style: none;
position:fixed;

}*/

.row img {
position:fixed;
  /*width:100%;*/
  margin-left: auto;
  height:100%;
  /*filter: sepia(1);*/
    /*filter: grayscale(1);*/
     /*filter: saturate(2);*/
     /*transform: rotate(90deg);*/

}

button{

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
