
ol {
  list-style:none;   /* To remove the numbered bullets from the list */
}

section{
  padding:30px 30px 30px 30px;
border: none;
margin:10px;
margin-left: 50px;
margin-right: 50px;


}


#right{
padding:0px;
border: none;
margin:0 auto;
align:right;
width: 79%;
display:inline-block;

}

#left {
  padding:0px;
  border: none;
  margin:0 auto;
  width: 20%;
  display: inline-block;
  align: left;
  vertical-align: top;
}

.nav ul{
list-style: none;

}
