.cover{
    background-image: url("../images/barcelona.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /*width: 100%;*/
}

.nav {
  color: black;
  padding: 10px;
  position: fixed;
  top: 0;
}

.nav a{
  text-decoration: none;
  padding: 10px;
}

.nav a:hover:active{
  color: white;
}


/* ---------------Name Title ------------------*/
body {
  /*background-color: #ffb6c1;*/
  /*background-image: url("../images/barcelona.jpg");
      background-size: cover;*/

  font-size: 14px;
  font-family: "Segoe UI";
}
.titles {
  background: lightblue;
  font-size: 16px;
  padding: 10px;
}

.name{
  text-align: center;
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
}
.firstname {
font-size: 100px;
font-family: 'Pacifico', sans-serif;
color: lightblue;
}

.lastname {
font-size: 100px;
font-family: 'Segoe UI';
color: white;
}



/*.header{
  height:150px;
  width: auto;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: 1px rgba(0,0,0,0);
}

.name span {
  display:block;
}

.name {
  /*width:400px;*/
  /*margin:20px auto;
	text-align: center;
  line-height:0.85;
}

.name span:nth-child(1) {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 150px;
  position: relative;
  z-index: 1;
  text-shadow: 5px 0 0 grey,
				-5px 0 0 grey,
				0 5px 0 grey,
				0 -5px 0 grey,
				4px 4px grey,
				-4px -4px 0 grey,
				4px -4px 0 grey,
				-4px 4px 0 grey;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  color:#fff;
  margin-top:150px;
}*/*/

.main{
  background-color: white;
}

/*--------------About me--------------------------*/
.aboutme {
  width: 80%;
  height:700px;
  margin:50px auto;
  /*font-size: 12px;*/
  padding:40px 10px;
  background: white;
  color: black;
}

.aboutme h2{
    font-size: 6.7em;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    padding: 10px;
  }

.title {
    font-family: Pacifico;
    font-weight: 400;
    font-size: 0.37em;
    line-height: 1.35em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.44em;
    padding-right: 0.2em;
    border: 0.3em solid #f1cf63;
    border-right: 0;
    border-left: 0;
    text-transform: lowercase;
  }

.aboutme h3{

}

.aboutme p{
color: #f1cf63;
font-family: Pacifico;
}

.employmentlist{
  list-style: none;
float: left;
/*text-align: center;*/
  width:50%;
}


/*.logoslist{
  list-style: none;
  float: right;
  width: 50%;
}*/

/*.logoslist li{
  display: inline;
}*/


/*----------projects ----------------*/
.portfolio{
  height: 130px;
  width:80%;
  /*background-color: #ffb6c1;*/
  padding: 10px 10px;
  margin: 50px auto;
}

/*portfolio {
    height: 130px;
    width: 100%;*/
    /* background-color: white; */
    /*padding: 10px 10px;
    margin: 0 auto;
    background-color: pink;*/

.projectbox {
  list-style: none;
  display:inline;
  /*margin: 0 auto;*/
  /*padding: 10px;*/
  /*height: 00px;*/
  width: 100px;

}

.projectimage{
  width: 150px;
  height:100px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  filter:grayscale(100%);
}

.projectimage:hover{
  filter:grayscale(0%);
  cursor:pointer;
}

.projectcontent{
  list-style: none;
  /*margin: 0 auto;*/
  padding: 10px;
  width:80%;
}

.projectcontent h3{

}

.projectcontent p{

}

.projectcontent a{

  font-family: Pacifico;
  color: #f1cf63;
}

.content{
  height:350px;
  /*width:80%;*/
  position: relative;
  margin: 30px;
  padding:10px ;
  transition: 0.5s;
  /*border: 2px solid black;*/
  -webkit-transition:0.5s;
}

.content:hover {
  /*border: 2px solid rgba(0,160,80,0);*/
  color: black;
}

.content::before, .content::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.9s;
}

.content::before {
  border-bottom: 3px solid #f1cf63;
  border-left: 3px solid #f1cf63;
  -webkit-transform-origin: 0 100%;
}

.content::after {
  border-top: 3px solid #f1cf63;
  border-right: 3px solid #f1cf63;
  -webkit-transform-origin: 100% 0%;
}

.content:hover::after, .content:hover::before {
  -webkit-transform: scale(1);
}

.footer{
  font-size: 12px;
  padding:10px 10px;
  width: auto;
  height: 90px;
  margin-top: 400px;
  text-align: center;
  background-color: lightblue;
}

.contactcard{
  list-style: none;
  align-items: center;

}

.contactcard li{
  display: inline;
  padding: 10px;
}

.contactcard img{
  width: 30px;
  height: 30px;
}
