
* {
  transition: all .3s ease 0s;
}

/* 1st article section */
div + div article:nth-child(1) {
  background:#F94F6A;
}
/* 2nd article section*/
div + div article:nth-child(2) {
  background: white;
}


/* ------------------------Main layout ------------------------------*/
html,
body,
div + div {
  width: 100vw;
  height: 100vh;
}
div + div {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
/* -------------------------Articles --------------------------------*/
div + div article {
  flex: initial;
  width: 20%;
  height: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 2vh 1vw;
  position: relative;
}


/* --------------------Hover interaction -----------------------------*/
/* width of article when no mouse hovers*/
div + div:hover article {
  flex: initial;
  width: 10%;
}
/* width of article when mouse hovers over*/
div + div article:hover {
  width: 100%;
}
article > div {
  opacity: 0;
  transition: opacity .2s ease 0;
}
div + div article:hover > div {
  opacity: 1;
  transition: opacity .3s ease .3s;
}
/* -----------------------Navigation -----------------------------------*/
div + div article > h2 {
  bottom: 2vh;
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
}
/* --------------------Article layouts ---------------------------------*/
article div {
  /*text-align: left;*/
}
article div p,
article div div h2,
article div h3 {
  margin: 0 0 1em 0;
}
h1,h2,{
  font-family: 'Quattrocento', Arial, sans-serif;
}
article div p {
  width: 40vw;
}
@media (max-width: 900px) {
  div + div article {
    padding: 2vh 3vw;
  }
  div + div article > h2 {
    transform: rotate(90deg);
    bottom: 23vh;
    min-width: 12em;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: 0 0 0;
    opacity: 1;
  }
  div + div article:hover > h2 {
    opacity: 0;
  }
  article div p {
    width: 50vw;
  }
  article div {
    max-height: calc(72%);
    overflow-y: auto;
  }
}

/*------Wraps around Name Title and About Me--------*/
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* ---------------Name Title ------------------*/
.name span {
  display:block;
  -webkit-font-smoothing: antialiased !important;
  webkit-text-stroke: 1px rgba(0,0,0,0.1);
}

.name {
  width:400px;
  margin:20px auto;
	text-align: center;
	color: #F5C4B6;
  line-height:0.85;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}

.name span:nth-child(1) {
  font-size: 100px;
}

.name span:nth-child(2) {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 60px;
  position: relative;
  z-index: 1;
  text-shadow: 5px 0 0 #F94F6A,
				-5px 0 0 #F94F6A,
				0 5px 0 #F94F6A,
				0 -5px 0 #F94F6A,
				4px 4px #F94F6A,
				-4px -4px 0 #F94F6A,
				4px -4px 0 #F94F6A,
				-4px 4px 0 #F94F6A;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  color:#fff;
  margin-top:-5px;
}

.name span:nth-child(3) {
  font-size: 150px;
  margin-top:-12px;
}

/*--------------About me--------------------------*/
.aboutme {
  font-family: 'Quattrocento', Arial, sans-serif;
  width: auto;
  height: auto;
  margin: 50px;
}


.aboutme li{
  list-style: none;
}

.aboutMeCard {
  font-size: 12px;
  padding:10px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  width: auto;
  height: auto;
  margin:10px;
  box-shadow:0 1px 5px 2px rgba(0,0,0,0.25),
       inset 0 1px 5px 2px rgba(0,0,0,0.25);
}

.contactCard{
font-size: 12px;
padding:30px 10px;
border-style: solid;
border-width: 2px;
  border-color: white;
width: auto;
height: auto;
margin:10px;
 box-shadow:0 1px 5px 2px rgba(0,0,0,0.25),
      inset 0 1px 5px 2px rgba(0,0,0,0.25);
}


/*----------projects ----------------*/
.projectbox{
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}


.projectimage{
  width: 350px;
  height:250px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  filter:grayscale(100%);
}

.projectimage:hover{
  filter:grayscale(0%);
}

.content{
  border: 1px solid red;
  height: 500px;
  width:200px;
  position: absolute;
  right: 0;
  top: 0;
}
.projects {
  display: inline-block;
}
