<!DOCTYPE html>

<div ng-controller="PortfolioController as portfolio">
  <div>
    <ul class="projectcontent">
      <li><h3>{{portfolio.projects[4].title}}</h3></li>
      <li>{{portfolio.projects[4].desc}}</li>
      <li>{{portfolio.projects[4].gif}}</li>
      <li>
      <div class="projectscreenshots"><img src="..\images\congapersona1.jpg" alt="">
      </div>

      <div class="projectscreenshots"><img src="..\images\congastoryboard1.jpg" alt="">
      </div>

      <div class="projectscreenshots"><img src="..\images\congastoryboard2.jpg" alt="">
      </div>

      <div class="projectscreenshots"><img src="..\images\congasitemap.jpg" alt="">
      </div>

      <div class="projectscreenshots"><img src="..\images\congawireframe1.png" alt="">
      </div>

      <div class="projectscreenshots"><img src="..\images\congaprototype1.png" alt="">
      </div>
      </li>
      <li><a href="www..com">{{portfolio.projects[4].deployedlink}}</a></li>
    </ul>
  </div>
</div>
