<!DOCTYPE html>

<div ng-controller="PortfolioController as portfolio">
  <div>
    <ul class="projectcontent">
        <table>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
      <li><h3>{{portfolio.projects[1].title}}</h3></li>
      <li>{{portfolio.projects[1].desc}}</li>
      <li class="gif"><img src="" alt=""></li>
      <li><a href="www..com">{{portfolio.projects[1].deployedlink}}</a></li>
    </ul>
  </div>
</div>
