<!DOCTYPE html>

<div ng-controller="PortfolioController as portfolio">
  <div>
    <ul class="projectcontent">
      <li><h3>{{portfolio.projects[2].title}}</h3></li>
      <li>{{portfolio.projects[2].desc}}</li>
      <li>{{portfolio.projects[2].gif}}</li>
      <li><a href="http://git.heroku.com/tolaoke-sg-project-1.git">{{portfolio.projects[2].deployedlink}}</a></li>
      
      <ul>
      <li>Tools used:</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JQUERY</li>
      
      </ul>
      
    </ul>
  </div>
</div>
