<!DOCTYPE html>

<div ng-controller="PortfolioController as portfolio">
  <div>
    <ul class="projectcontent">
        <table>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
      <li><h3>{{portfolio.projects[5].title}}</h3></li>
      <li>{{portfolio.projects[5].desc}}</li>
      <li>{{portfolio.projects[5].gif}}</li>
      <li>
      <div class="projectscreenshots">

      </div>
      <div class="projectscreenshots">

      </div>
      <div class="projectscreenshots">

      </div>
      </li>
      <!-- <li><a href="www..com">{{portfolio.projects[5].deployedlink}}</a></li> -->
    </ul>
  </div>
</div>
