<!DOCTYPE html>
<div ng-controller="PortfolioController as portfolio">

<section class="cover">

  <section class="nav">
    <div ui-view="navbar"></div>
  </section>

  <section class="header">
    <div class="name">
      <h1 class="firstname">Tola <span class="lastname">OLAOKE</span></h1>
    </div>
  </section>
</section>

<section class="main">

  <section class="aboutme">
    <!-- <div class="aboutmecard"> -->
    <h1 class="titles">About</h1>
    <h2>Web <span class="title">and</span> UX Developer</h2>

      <ul class="employmentlist">
<br>
      <h3>Current Experience:</h3>
        <li>HTML, CSS and JavaScript Instructor <p>Code First Girls </p></li>
        <li>Web Developer and IT Consultant <p>Sparta Global</p></li>
      <!-- <h3>Past Experience:</h3>
        <li>Software Tester <p>Vinspired</p></li>
        <li>Information and Performance Team Assistant & IT Technician Assistant <p>Barnet Home</p></li> -->
        <br>
      <h3>Education:</h3>
        <li>Computer Science <p>BSc</p></li>
        <li>Digital Service Design <p>MSc</p></li>
      </ul>

      <!-- <ul class="logoslist">
        <li><img src="..\images\cfg.png" alt=""> </li>
        <li><img src="..\images\spartaglobal.png" alt=""> </li>
        <li><img src="..\images\vinspired.png" alt=""> </li>
        <li><img src="..\images\barnethomeslogo.jpg" alt=""> </li>
        <li><img src="..\images\bruneluniversitylogo.png" alt=""> </li>
      </ul> -->

    <!-- </div> -->
  </section>

    <!-- PROJECTS section -->
  <section class="portfolio">
    <h1 class="titles">Portfolio</h1>

    <div class="projects">
      <ul>
        <li ng-repeat="project in portfolio.projects track by $index" class="projectbox">
          <img
            ng-src="{{project.img}}"
            alt="placeholder"
            class="projectimage"
            ui-sref="{{project.state}}"
            ng-click="project.makeProjectVisible()"/>
        </li>
      </ul>
    </div>

<div class="contentlist">
      <div ng-if="portfolio.isDefaultVisible" class="content" ui-view="projectContent">
    </div>

      <div ng-if="portfolio.isBeFitVisible" class="content" ui-view="beFit">
    </div>

      <div ng-if="portfolio.isFamilyTreeVisible" class="content" ui-view="familyTree">
    </div>

    <div ng-if="portfolio.isGameVisible" class="content" ui-view="game">
    </div>

      <div ng-if="portfolio.isMoviesRevsVisible" class="content" ui-view="moviesRevs">
    </div>

      <div ng-if="portfolio.isCongaVisible" class="content" ui-view="conga">
    </div>

    <div ng-if="portfolio.isRateReviewAppVisible" class="content" ui-view="rateReviewApp">
    </div>
</div>
  </section>

</section>

  <section class="footer">
    <div ui-view="footer"></div>
  </section>
</div>
