<!DOCTYPE html>
<div ng-controller="PortfolioController as portfolio">
<!-- Banner Section -->
  <div class="banner">

  </div>

<!-- About Me Section -->
  <div>
    <article>
      <h2>About Me</h2>
        <div class="holder">

          <div class="wrap">
          <div class="name">
               <span>Tola Olaoke</span>
            <span>Web Developer</span>
          </div>

          <div class="aboutme">


      <div class="aboutMeCard">

            <ul>
        Current Employement:
      <li>Web Developer and IT Consulant Sparta Global</li>
      Past Experience:
       <li>Software Tester (voluntary)- Vinspired 2016</li>
       <li>Information and Performance Team Assistant & IT Technician Assistant - Barnet Home 2009</li>
        Education:
      <li>Computer Science BSC - Brunel University London</li>

    </ul>
     </div>

     <div class="contactCard">
       <ul>
     <li>view my <a href="https://github.com/tolavolaoke">Github</a></li>
    <li>view my <a href="">Linkedin</a></li>
     <li>view my <a href="/images/myw3schoolsimage.jpg" download >CV</a></li>
    <li>send me a mail <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">tolavolaoke@hotmail.co.uk</a></li>
</ul>
   </div>

   </div>

   </div>
        </div>
          </article>


    <!-- PROJECTS section -->
    <article>
      <h2>Projects</h2>

          <div class="projects">
            <ul>
            <li ng-repeat="project in portfolio.projects track by $index" class="projectbox">
              <img ng-src="{{project.img}}" alt="placeholder" class="projectimage" ui-sref="{{project.state}}"/>
            </li>
            
            <li ng-repeat="project in portfolio.projects track by $index" class="projectbox">
              <img ng-src="{{project.img}}" alt="placeholder" class="projectimage" ui-sref="{{project.state}}"/>
            </li>
            </ul>
          </div>


        <div class="content">


        </div>

    </article>
  </div>
</div>
